
ParkingPlaceServer/.vs/ParkingPlaceServer/config/applicationhost.config
ParkingPlaceServer/.vs/ParkingPlaceServer/v16/.suo
ParkingPlaceServer/ParkingPlaceServer/bin/ParkingPlaceServer.dll
ParkingPlaceServer/ParkingPlaceServer/bin/ParkingPlaceServer.pdb
ParkingPlaceServer/ParkingPlaceServer/obj/Debug/ParkingPlaceServer.csproj.FileListAbsolute.txt
ParkingPlaceServer/ParkingPlaceServer/obj/Debug/ParkingPlaceServer.csproj.GenerateResource.cache
ParkingPlaceServer/ParkingPlaceServer/obj/Debug/ParkingPlaceServer.csprojAssemblyReference.cache
ParkingPlaceServer/ParkingPlaceServer/obj/Debug/ParkingPlaceServer.csproj.CoreCompileInputs.cache
ParkingPlaceServer/ParkingPlaceServer/obj/Debug/ParkingPlaceServer.dll
ParkingPlaceServer/ParkingPlaceServer/obj/Debug/ParkingPlaceServer.pdb
ParkingPlaceServer/ParkingPlaceServer/ReportImages/3Report2.jpg
ParkingPlaceServer/ParkingPlaceServer/ReportImages/3Report1.jpg
